@let title = displayedMonth();

<div class="content">
  @if (title) {
  <div class="is-flex is-justify-content-space-between is-align-items-center">
    <button
      (click)="previous()"
      class="button is-small"
      type="button"
      aria-label="Previous month">
      <span class="icon">
        <i class="pi pi-angle-left" aria-hidden="true"></i>
      </span>
    </button>
    <h2 class="title is-4 is-block">{{ title }}</h2>
    <button
      (click)="next()"
      class="button is-small"
      type="button"
      aria-label="Next month">
      <span class="icon">
        <i class="pi pi-angle-right" aria-hidden="true"></i>
      </span>
    </button>
  </div>
  } @let daysList = daysOfMonth(); @if (daysList) {
  <div class="fixed-grid has-7-cols">
    <div class="grid is-gap-0.5" role="grid" [attr.aria-label]="title">
      @for (day of daysList; track day.date) {
      <button
        class="cell"
        type="button"
        role="gridcell"
        [attr.aria-selected]="day.selected"
        [attr.aria-current]="day.currentDate ? 'date' : null"
        [attr.aria-label]="day.date.format('YYYY-MM-DD')"
        (click)="selectDay(day.date)"
        [ngClass]="getClassList(day)">
        {{ day.date.format('D') }}
      </button>
      }
    </div>
  </div>
  }
</div>
