.grid {
    aspect-ratio: 3/2;
}
.cell {
    display:flex;
    justify-content: center;
    align-items: center;  
}
.cell:hover{
    cursor: pointer;
}
.current-date{
    background-color: rgba(var(--bulma-primary-rgb), 0.2)
}
.selected{
    background-color: var(--bulma-primary);
    color:var(--bulma-primary-bold)
}
.in-current-month{
    background-color: var(--bulma-primary-soft)
}