
:host{
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.container {
    aspect-ratio: 3/2;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px
}

.day {
    background-color: var(--p-primary-200);
    display: flex;
    justify-content: center;
    align-items: center;  
}
.day:hover{
    cursor: pointer;
}
.not-current-month{
    background-color: var(--p-mask-color) ;
}
.current-date{
    border: 1px solid var(--p-primary-700);
}
.selected{
    background-color: var(--p-primary-700);
    color: white;
}
