@let title = displayedDateString$ | async;

@if(title) {
    <div class="header">
        <button pButton (click)="previous()" icon="pi pi-chevron-left" class="p-button-secondary" ></button>
        <h2>{{title}}</h2>  
        <button pButton (click)="next()" icon="pi pi-chevron-right" [disabled]="!canNext" class="p-button-secondary" ></button>
    </div>
}

@let daysList = daysOfMonth$ | async;
@if(daysList){
    <div  class="container">
        @for (day of daysList; track day.date) {
            <div class="day" (click)="selectDay(day.date)"[ngClass]="getClassList(day)">
                {{day.date.format("D")}}
            </div>
        }
    </div>
}
