@if (badgeValue() > 1) {
    <p-overlay-badge [value]="badgeValue()">
        <p-chip 
        #chip
        [label]="record().activity.representation" 
        [pTooltip]="description()" 
        [removable]="true"
        (onRemove)="_onDelete($event)"
        removeIcon="pi pi-minus-circle"
        ></p-chip>
    </p-overlay-badge>
}
@else {
    <p-chip #chip 
    [label]="record().activity.representation" 
    [pTooltip]="description()"
    [label]="record().activity.representation" 
    [removable]="true"
    (onRemove)="_onDelete($event)"></p-chip>
}
