:host {
    display: flex;
    flex-direction:column;
    gap: 0.5em;
    height: 100vh;
    width: 100vw;
    padding: 5px;
}
.days-activities{
    flex-grow: 1;
    fieldset{
        legend{
            font-weight:700;
            font-size: 1.1em;
        }
        border: 1px solid #1b4079ff;
        border-radius: 4px;
        height: 100%;
        padding: 1em;
    }
}

.records {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.p-overlay-badge:empty{
    display: none;
}