<app-header></app-header>
<app-calendar></app-calendar>
<app-add-activity-button></app-add-activity-button>
<div class="days-activities">
  @let selectedDate = selectedDateString$ | async;
  @if (selectedDate) {
    <fieldset >
    <legend> {{ selectedDate }}</legend>
    @let daily = daily$ | async;
    @if(daily){
      <div class="records">
        @for (record of daily; track record.id) {
          <app-merged-record-minimal [record]="record" [deletable]="true" (onDelete)="onDelete($event)"></app-merged-record-minimal>
        }
    </div>
    }
  </fieldset>
  }

</div>