.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    justify-content: space-between
}
.activities{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    overflow-y: auto;
    justify-content: left;
}

.add-form{
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 2px;
    box-sizing: border-box;
    input{
        height:2rem;
        border-radius: 10px;
        border: 1px solid lightgray;
        text-align:center;
    }
    input:focus{
        outline: none;
        border:1px solid lightblue;
    }
    input::placeholder{
        opacity: 0.4;
    }
    input:focus::placeholder {
        color: transparent;
      }
    #representation{
        width: 20%;
    }
    #description{
        width: 40%;
    }
    #amount{
        width: 15%;
    }
    #unit{
        width: 15%;
    }
    ::ng-deep {
        .p-button{
        width: 20%;
        height: 2rem;
    }
    }
}


