
@let activities = activities$ | async;


<div class="container">

    @if (activities) {
        <div class="activities">
            @for (activity of activities; track activity.id) {
                <app-activity-minimal 
                    [activity]="activity"
                    (onClick)="addActivity(activity)">
                </app-activity-minimal>
            }
 
        </div>
    }
    <div class="add-form">
        <input type="text" pInputText id="representation" [(ngModel)]="activity.representation" placeholder="🚀"/>
        <input type="text" pInputText id="description" [(ngModel)]="activity.description" placeholder="launching rocket" />
        <input type="number" pInputText id="amount" [(ngModel)]="activity.amount" placeholder="2000"/>
        <input type="text" pInputText id="unit" [(ngModel)]="activity.unit" placeholder="kph"/>
        <p-button icon="pi pi-send" severity="success" icon="pi pi-plus" size="small" (onClick)="newActivity()"></p-button>
    </div>
</div>