version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    volumes:
      - ../..:/workspaces:cached
    command: sleep infinity
    network_mode: service:db

  db:
    image: postgres:17-alpine
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: devpass
      POSTGRES_USER: lifetrack
      POSTGRES_DB: lifetrack-dev

  pgadmin:
    image: dpage/pgadmin4:9.10
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@lifetrack.com
      PGADMIN_DEFAULT_PASSWORD: admin

volumes:
  postgres-data:
