:host{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.right{
    display: flex;
    flex-grow: 1;
    gap: 5px;
    padding-left: 5px;
}
