<div class="login-container">
    <h2>Log in</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">

      <div class="p-field">        
        <p-floatlabel variant="in">
            <input pInputText fluid="true" id="username" formControlName="username" type="email" autocomplete="off" />
            <label for="username">email</label>
        </p-floatlabel>
        @if (invalidUsername()) {
            <small class="p-error">
            Please enter a valid email address
            </small>
        }

      </div>
  
      <div class="p-field">
        <p-floatlabel variant="in">
            <input fluid="true" pInputText id="password" formControlName="password" type="password" autocomplete="off" />
            <label for="password">password</label>
        </p-floatlabel>
        @if (invalidPassword()) {
        <small class="p-error">
          Please enter a password (min. 8 characters).
        </small>
        }
      </div>
      <p-button label="Connexion" type="submit" [disabled]="loginForm.invalid"></p-button>
    </form>
    <br />
    @if(error){
        <p-message severity="error">{{ error }}</p-message>
    }
  </div>