/* You can add global styles to this file, and also import other style files */
 
@import "primeicons/primeicons.css";

/* CSS HEX */
$licorice: #1f1300ff;
$vista-blue: #81a4cdff;
$eggshell: #edebd7ff;
$yale-blue: #1b4079ff;
$pumpkin: #fa8334ff;

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
}

.p-dialog-content{
    height: 100%;
}